{% extends 'main.html' %}
{% block content %}
<div class="header-bar">
<h1>Видалити замовлення</h1>
<a href="{% url 'order' %}">&#215;</a>
</div>
<div class="center">
<form action="" method="POST">
    {% csrf_token %}
    <p>Ви впевнені, що хочете видалити замовлення "{{order.product_id}}"?</p>
    <input class="button" type="submit" value="Видалити">
</form>
</div>
<style>
    .center {
        margin: 0 0 20px 60px;
        width: 50%;
        padding: 20px;
    }
</style>
{% endblock content %}